.coverage-analysis {
  width: 100%;
  padding: 10px;

  .mermaid-inline {
    height: auto;
    max-width: 500px;
    min-width: 400px;
  }

  .title-with-mark {
    display: flex;

    .mark {
      margin-left: 10px;
      .mark-tag-achieved {
        color: @green3;
      }
      .mark-tag {
        font-size: 10px;
        height: 12px;
        min-height: 12px;
      }
    }
  }

  .path-list {
    max-width: 600px;

    .path-text {
      margin-left: 10px;
    }
  }
}

.bp5-popover-content {
  max-height: 600px;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(172, 172, 172, 0.6);

    .bp5-dark & {
      background-color: rgba(172, 172, 172, 0.4);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
